# pins.pcf (informational mapping)
# The XC9500XL ISE flow uses UCF. This PCF is provided only as a readable pin map.
set_io ras_n     15
set_io rrw_n     20
set_io casl0_n   22
set_io casu0_n   23
set_io casl1_n   25
set_io casu1_n   27
set_io dra[0]     6
set_io dra[1]     8
set_io dra[2]     9
set_io dra[3]    10
set_io dra[4]    11
set_io dra[5]    12
set_io dra[6]    13
set_io dra[7]    18
set_io sram_a[0] 31
set_io sram_a[1] 32
set_io sram_a[2] 33
set_io sram_a[3] 34
set_io sram_a[4] 35
set_io sram_a[5] 36
set_io sram_a[6] 38
set_io sram_a[7] 39
set_io sram_a[8] 40
set_io sram_a[9] 42
set_io sram_a[10] 44
set_io sram_a[11] 45
set_io sram_a[12] 47
set_io sram_a[13] 48
set_io sram_a[14] 49
set_io sram_a[15] 50
set_io sram_a[16] 51
set_io ce2       56
set_io ce1_l_n   57
set_io ce1_u_n   58
set_io oe_n      59
set_io we_n      60
